h3 {
	margin-top: 10px;
	margin-bottom: 10px;
}
.centered {
	text-align: center
}
.start-panel {
 	margin-top:15px;
	margin-bottom:5px;
}
.start-panel button {
	font-size: 11pt;
}
.gen {
  white-space: nowrap;
}
.gen canvas {
  width: 50px;
	margin-left: 2.5px;
	margin-right: 2.5px;
}
input.numsmall {
	width: 50px;
}
input.numwide {
	width: 80px;
}
table {
	display: inline;
	border: 1px solid grey;
	padding-bottom: 2px;
}
tr {
	display: inline-table;
}
.stat-large, .stat-small {
	overflow:hidden;
	text-overflow:ellipsis;
	white-space: nowrap;
	text-align: right;
}
.stat-small {
	width: 50px;
	max-width: 50px;
}
.stat-large {
	width: 100px;
	max-width: 100px;
}

#fileinput {
	color: #fff;
	background-color: #722;
	display: inline-block;
}
